streamlit
requests
tldextract
python-whois
pandas
bz2file
BeautifulSoup4
scikit-learn===1.2.2
numpy
google
google-search
google-cloud 
googlesearch-python
whois
nltk
soundfile
vt-py
streamlit-option-menu
